.color-ranking{
    &--1{
        color:red;
    }
    &--2{
        color:IndianRed;
    }
    &--3{
        color:#454545;
    }
    &--4{
        color:greenyellow;
    }
    &--5{
        color:green;
    }
}