input{
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.4rem;
}

.searchStudent{
    position: relative;
    input{
        padding-right: 3.5rem;
    }
    &__icon{
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translate(50%, -50%);
        font-size: 2.4rem;
        color: $color-primary;
    }
}