.liststudents{
    .student{
        padding: .7rem;
        background-color: $color-primary;
        margin-bottom: 1rem;
        border-radius: 5px;
        color: white;
        // animation: start 2s infinite;
        &:last-child{
            margin-bottom: 0;
        }

        &__image{
            img{
                border-radius: 50%;
                width: 47px;
                height: auto;
            }
        }
    }
}

// @keyframes crateCar {
//     from {transform: scale(0);}
//     to {transform: scale(1);}
//   }